:root {
  --background-default: #121212;
  --background-primary: #1e1e1e;
  --text-default: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  text-align: center;
  background: var(--background-default);
  color: var(--text-default);
}

.Nav {
  display: flex;
  justify-content: center;
  background: var(--background-primary);
  height: 50px;
}
.NavChild {
  position: relative;
  block-size: fit-content;
  padding: 7px;
  width: 75px;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  color: var(--text-default);
  border: 1px solid var(--text-default);
  border-radius: 5px;
  margin-right: 10px;
}
.NavChild:last-child {
  margin-right: 0px;
}
.Header {
  font-size: 3em;
  margin: 30px;
}

.Articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Article {
  background: var(--background-primary);
  margin: 10px;
  padding: 12px;
  width: 350px;
  border-radius: 5px;
  cursor: pointer;
}
.ArticleTitle {
  margin-bottom: 10px;
}
.ArticleAuthor {
  font-size: 0.7em;
  color: #969696;
}
